@model ProductEditViewModel
@{ 
    ViewBag.Title = "Edit";
    Layout = "_AdminLayout";
}
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="ProductID" />
        <input hidden asp-for="ExistingPhotoPath" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <h4><label>Image:</label></h4>
            <div class="custom-file">
                <input multiple asp-for="Images" class="form-control custom-file-input" />
                <label class="custom-file-label">Click here to chage photo...</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription"></label>
            <div>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <textarea asp-for="ShortDescription" class="form-control" rows="4" cols="200"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <textarea asp-for="Description" class="form-control" rows="7" cols="200"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Save</button>
            <a asp-action="Index" class="btn btn-warning">Cancel</a>
        </div>
        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileLabel = $(this).next('.custom-file-label');
                        var files = $(this)[0].files;
                        if (files.length > 1) {
                            fileLabel.html(files.length + ' files selected');
                        }
                        else if (files.length == 1) {
                            fileLabel.html(files[0].name);
                        }
                    });
                });
            </script>
        }
    </form>