@model IEnumerable<Product>
@{ 
    ViewBag.Title = "All Objects";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-left">Object:</th>
        <th class="text-right">Action</th>
    </tr>
    @foreach(var i in Model)
    {
        <tr>
            <td class="text-left">@i.Name</td>
            <td class="text-right">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@i.ProductID">Edit</a>
                    <input type="hidden" name="ProductID" value="@i.ProductID"/>
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary btn-sm mt-1">Добавить услугу/товар</a>
    <a asp-action="EditInfo" class="btn btn-warning btn-sm mt-1" target="_blank">Редактировать приложение</a>
    <a asp-controller="Product" asp-action="List" class="btn btn-secondary btn-sm mt-1" target="_blank">К приложению</a>
    <a asp-controller="Order" asp-action="Index" class="btn btn-primary btn-sm mt-1" target="_blank">Заказы</a>
    <a asp-controller="Order" asp-action="ViewDataBase" class="btn btn-warning btn-sm mt-1" target="_blank">База данных: Заказы</a>
</div>